<div style="background-color:#ffffff;margin-left:auto;margin-right:auto;width:100%;max-width:100%;min-width:375px;">
  <center>
    <div id="m_1539168324124712147m_-8490846049754321884container"
      style="width:100%;height:auto;margin:0;padding:0;background-color:#ffffff">
      <table cellpadding="0" cellspacing="0"
        style="width:100%;min-width:100%;height:auto;background-image:url('');background-color:#ffffff"
        role="presentation">
        <tbody>
          <tr>
            <td align="center" style="width:100%;min-width:100%;height:auto;padding:0">
              <table cellpadding="0" cellspacing="0"
                style="width:100%;max-width:800px;height:auto;background-color:#c8d9e4" role="presentation">
                <tbody>
                  <tr>
                    <td align="center" style="width:100%;min-width:100%;height:auto;padding:0">
                      <div
                        style="width:100%;max-width:800px;height:auto;margin:0;padding:0;background-image:url('');background-repeat:repeat;background-position:top center;background-size:100%;background-color:#c8d9e4">
                        <table cellpadding="0" cellspacing="0"
                          style="width:100%;min-width:100%;height:auto;background-color:#ffffff" role="presentation">
                          <tbody>
                            <tr>
                              <td align="center" style="width:100%;min-width:100%;height:auto;padding:0">
                                <div style="width:100%;max-width:800px;height:auto;padding:0">
                                  <table cellpadding="0" cellspacing="0"
                                    style="width:100%;min-width:100%;height:auto;padding:0;background-color:#fff"
                                    role="presentation">
                                    <tbody>
                                      <tr>
                                        <td style="width:100%;height:auto;padding:0;text-align:center" align="center">
                                          <img
                                            src="https://xr6j7mhbic9hwbrn.public.blob.vercel-storage.com/Thank-you-header-min-xyxL1EAA9jyBqEokwTa0hgFfDrYjwI.png"
                                            alt="Thank-you"
                                            style="display:block;max-width:800px;width:100%;height:auto;color:#fff;font-size:16px;line-height:140%;font-weight:bold;border-bottom: 3px solid #6996b5;">
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                        <table role="presentation" width="100%" cellpadding="0" cellspacing="0"
                          style="border-collapse:collapse">
                          <tbody>
                            <tr>
                              <td style="height:40px" height="40">&nbsp;</td>
                            </tr>
                          </tbody>
                        </table>

                        <table role="presentation" style="border-collapse:collapse" width="90%" cellspacing="0"
                          cellpadding="0">
                          <tbody>
                            <tr>
                              <td
                                style="font-family:system-ui,Geneva,sans-serif;font-size:16px;font-weight:600;line-height:140%;color:#181818;text-align:left;padding:0 15px">
                                From: {{guestName}}
                              </td>
                            </tr>
                            <tr>
                              <td style="height:10px" height="10">&nbsp;</td>
                            </tr>
                          </tbody>
                        </table>

                        <table role="presentation" style="border-collapse:collapse" width="90%" cellspacing="0"
                          cellpadding="0">
                          <tbody>
                            <tr>
                              <td
                                style="font-family:system-ui,Geneva,sans-serif;font-size:16px;font-weight:600;line-height:140%;color:#181818;text-align:left;padding:0 15px;">
                                Message:
                              </td>
                            </tr>
                            <tr>
                              <td
                                style="font-family:system-ui,Geneva,sans-serif;font-size:16px;font-weight:600;line-height:140%;color:#181818;text-align:left;padding:0 15px;white-space: pre-line;">
                                {{message}}
                              </td>
                            </tr>
                            <tr>
                              <td style="height:10px" height="10">&nbsp;</td>
                            </tr>
                          </tbody>
                        </table>


                        <table cellpadding="0" cellspacing="0"
                          style="width:100%;min-width:100%;height:auto;background-color:#ffffff" role="presentation">
                          <tbody>
                            <tr>
                              <td align="center" style="width:100%;min-width:100%;height:auto;padding:0">
                                <table role="presentation" style="border-collapse:collapse;max-width:800px;height:auto"
                                  width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="#0a0a0a">
                                  <tbody>
                                    <tr>
                                      <td style="font-size:0;text-align:center" valign="top">
                                        <div style="display:inline-block;vertical-align:top;width:100%;max-width:800px">
                                          <table role="presentation" style="border-collapse:collapse" width="90%"
                                            align="center" cellspacing="0" cellpadding="0">
                                            <tbody>
                                              <tr>
                                                <td style="height:20px" height="20">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td align="center" style="padding:5px">
                                                  <a href="https://www.linkedin.com/in/nguyenvuhoangbt/"
                                                    target="_blank"
                                                  >
                                                    <img
                                                      src="https://xr6j7mhbic9hwbrn.public.blob.vercel-storage.com/linkedin-YvBelvm5rbO5xBGikcaseDVsNC66cV.png"
                                                      align="center" alt="LinkedIn" style="width:50px;padding:10px"
                                                      width="50" border="0">
                                                  </a>
                                                  <a href="https://github.com/nguyenvuhoangbt/"
                                                    target="_blank"
                                                  >
                                                    <img
                                                      src="https://xr6j7mhbic9hwbrn.public.blob.vercel-storage.com/github-UHizVLKEbet7bjkTJ41qQaOe62I3IN.png"
                                                      align="center" alt="Github" style="width:50px;padding:10px"
                                                      width="50" border="0">
                                                  </a>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td style="height:20px" height="20">&nbsp;</td>
                                              </tr>
                                              <tr>
                                                <td align="center">
                                                  <span
                                                    style="display:block;font-family:system-ui,Geneva,sans-serif;font-size:10px;line-height:130%;color:#ffffff;text-align:center;margin:0px">
                                                    © All Rights Reserved by Hector</span>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td style="height:20px" height="20">&nbsp;</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </center>
</div>