@windicss;

/*=============== GOOGLE FONTS ===============*/
/* @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap'); */

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 88px;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(14, 98%, 50%);
  --black-color: hsl(0, 0%, 0%);
  --black-color-light: hsl(0, 0%, 40%);
  --white-color: hsl(0, 0%, 95%);
  --title-color: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 64%);
  --body-color: hsl(0, 0%, 87%);
  --container-color: hsl(0, 0%, 83%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Bai Jamjuree', sans-serif;
  --biggest-font-size: 2.5rem; /* setting in windi.config.js */
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 3rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --header-height: 66px;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* for fix header height 88px */
  scroll-margin-top: var(--header-height);
}

html {
  scroll-behavior: smooth;
  min-width: 375px;
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 50%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 40%);
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #25171a;
  -webkit-box-shadow: 0 0 0px 1000px #f5f5f5 inset;
  box-shadow: 0 0 0px 1000px #f5f5f5 inset;
}

input + label,
textarea + label {
  transition-duration: 400ms;
  transition-property: transform;
}

input:focus + label,
textarea:focus + label {
  transform: translateY(-2rem);
}

textarea {
  font-size: var(--normal-font-size);
}

/*=============== THEME ===============*/

/*========== Variables Dark theme ==========*/

/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/

/*=============== REUSABLE CSS CLASSES ===============*/
